

# Ignore the following directories and files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
AssetStoreTools*
/Assets/Plugins/*/Android/libs/*.so
/Assets/Plugins/*/iOS/*.a
/Assets/Plugins/*/iOS/*.dylib
/Assets/Plugins/*/iOS/*.framework
/Assets/StreamingAssets/aa
/Assets/StreamingAssets/aa.meta
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta
sysinfo.txt
*.apk
*.aab

# Ignore the following files created by the user
*.orig
*.patch

# Ignore Visual Studio and VS Code directories
.vs/
.vscode/